@charset "utf-8";
/* CSS Document */

body { 
font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #ffffff;
}
input, select, textarea, td { 
font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
}
a { 
color: #333399;
}
.headerbox { 
border-color: #6666aa;
}
.header { 
color: #ffffff;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
border-bottom: 1px solid #000000;
}
.header a { 
color: #ffffff;
}
.header a:hover, a.header:hover { 
color: #ffff00;
text-decoration: none;
}
a.header { 
border-bottom: none;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: transparent;
}
a.fixed { 
color: #333399;
}
.light { 
color: #333333;
}
.smallheader { 
color: #ffffff;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
font-family: "Verdana", "Helvetica", sans-serif;
}
a.smallheader:hover { 
color: #ccccee;
text-decoration: none;
}
.control { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #dddddd;
}
.widget { 
color: #222244;
}
input, select, textarea { 
color: #000000;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #f3f3f9;
border: 1px solid #666699;
}
input:focus, textarea:focus { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #ffffff;
border: 1px solid #9999ff;
}
.button, .button:focus { 
color: #ffffff;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
border-top: 1px solid #c4c4b8;
border-right: 1px solid #000000;
border-bottom: 1px solid #333333;
border-left: 1px solid #c4c4b8;
}
.button:hover, .button:focus, a.button:hover, a.button:focus { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #333399;
}
.rowEven, .item0 { 
background-color: #eeeeff;
}
.rowOdd, .item1 { 
background-color: #ffffff;
}
.selected { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #c6d3ff;
}
.tooltip, div.nicetitle { 
color: #ffffff;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
border: 2px double #ffffff;
}
#menu { 
color: #ffffff;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
border-bottom: 2px solid #000000;
}
#menu a { 
color: #ffffff;
}
#menu a.current { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #333399;
border-top: 1px solid #000000;
border-right: 1px solid #aaaacc;
border-bottom: 1px solid #aaaacc;
border-left: 1px solid #000000;
padding: 2px;
}
#menuBottom { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #eeeeff;
border-bottom: 1px solid #cccccc;
border-left: 1px solid #cccccc;
}
body.sidebar { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #ffffff;
}
#sidebarPanel { 
border-right: 1px solid #000066;
border-bottom: 1px solid #000066;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #e9e9ff;
}
#sidebarPanel span.toggle, #sidebarPanel a { 
padding: 4px;
}
#sidebarPanel a, #sidebarPanel span { 
color: #000066;
}
#sidebarPanel a:hover { 
color: #ffffff;
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
}
#sidebarPanel a:hover span { 
color: #ffffff;
}
#expandButton { 
margin-right: 1px;
}
.tabset { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: transparent;
border-bottom: 1px solid #6666aa;
}
.tabset li a { 
border: 1px solid #6666aa;
border-bottom: 1px solid #e9e9e9;
}
.tabset li.activeTab a { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
color: #ffffff;
border-bottom: 1px solid #6666aa;
}
.tabset li.activeTab a:hover { 
background-image: none;
background-attachment: scroll;
background-repeat: repeat;
background-position: 0% 0%;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
background-color: #6666aa;
color: #ffffff;
}